{{#each posts as |post| }}
<div class="container-fluid">
  <div class="border border-secondary rounded mx-3 my-5 pt-4 px-4">
    <h2 class="pb-2">{{post.title}}</h2>
    <p>
      {{post.content}}
    </p>
    <p class="font-italic text-right">Created by {{post.user.username}} on {{post.date_created}}</p>
  </div>
</div>
{{/each}}
